<!doctype html>
<html lang="ar" dir="rtl">

<head>
<% include ../head %>
</head>
<body id="result">
<%- include('../nav.ejs', {active: "features"}) %>
              <!-- Abayro CONTENT -->
              <div class="jumbotron jumbotron-fluid abayro-manage-jumbotron" style="border-bottom: 5px solid rgb(0, 102, 255)">
              <div class="container">
                  <div class="text-center">
                    <h1 class="display-3 bold animated bounceInDown" style="text-shadow: 0 0 20px rgba(0, 0, 0, 0.521);">مميزات أبايرو</h1>
                    <p class="lead bold animated bounceInUp" style="text-shadow: 0 0 20px rgba(0, 0, 0, 0.521);" dir="ltr"></p>أبايرو هو بوت رائع ومميز عن بقية البوتات العربية الأخرى!, يتميز أبايرو بجودة أوامره  وجودة تعامله مع المستخدمين !</p>
                    <p style="text-shadow: 0 0 20px rgba(0, 0, 0, 0.521);font-size: 13.5px" class="animated bounceInUp">ويتميز أيضا بتعدد لغاته, لوحة التحكم سهلة الإستخدام , وكثير من الميزات الرائعة الأخرى !</p>
                  </div>
                </div>
              </div>
              <div class="container animated bounceInUp">
                <div class="text-center">
                    <h4><strong>مميزات أبايرو</strong></h4>
                    <hr>
                    <div class="row">
    <i class="icon-checkmark fas fa-check-square"></i><span> <strong>لوحة تحكم</strong>: لوحة تحكم بسيطة وسهلة الإستخدام !</span><br><br>
    <i class="icon-checkmark fas fa-check-square"></i><span> <strong>الأسرع</strong>: أبايرو يعمل بسرعة فائقة وبجودة عالية لكل المستخديمن !</span><br><br>
    <i class="icon-checkmark fas fa-check-square"></i><span> <strong>المستويات والنقاط</strong>: ابايرو به نظام مستويات ونقاط مميز يمكنك من خلاله رؤية النقاط العامة والخاصة بسيرفرك</span><br><br>
    <i class="icon-checkmark fas fa-check-square"></i><span> <strong>سهل الإستخدام</strong>: أبايرو أول وأسهل بوت عربي للإسخدام فإن كل أمر وميزة له قائمة مساعدة خاصة به !</span><br><br>
    <i class="icon-checkmark fas fa-check-square"></i><span> <strong>الحماية</strong>: ابايرو لديه اقوى نظام حماية لحماية السيرفر الخاص بك من المتطفلين</span><br><br>
    <i class="icon-checkmark fas fa-check-square"></i><span><strong> لغات متعددة</strong>: أبايو يدعم اللغة الإنجليزية و الفرنسية و الألمانية و التركية !</span><br><br>
    <i class="icon-checkmark fas fa-check-square"></i><span><strong> أوامر مخصصة</strong>: يُمكنك عمل وتعديل وحذف أمر مخصص في البوت !</span><br><br>
    <i class="icon-checkmark fas fa-check-square"></i><span><strong> ميوزك</strong>: أبايرو به أفضل نظام موسيقى عربي في الديسكورد !</span><br><br>
    </div>            
    </div>
                </div>
  
<% include ../footer %>

<% include ../scripts %>

</body>

</html>