<center>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <button class="btn btn-primary btn-sm">
    <span type="radio" name="options" id="option2" autocomplete="off"> <a id="footer-abayro" class="copyrighted-badge" title="Copyrighted.com Registered &amp; Protected" target="_blank" href="https://www.copyrighted.com/website/9WIRlVPn5DbrN19Y"><img alt="Copyrighted.com Registered &amp; Protected" border="0" width="125" height="25" srcset="https://static.copyrighted.com/badges/125x25/03_1_2x.png 2x" src="https://static.copyrighted.com/badges/125x25/03_1.png" /></a><script src="https://static.copyrighted.com/badges/helper.js"></script></span>
  </button>
  <button id="change-theme" class="btn btn-primary btn-sm">
    <span type="radio" name="options" id="change-theme" autocomplete="off"> <i id="current-theme" class="fas fa-lightbulb"></i></span>
  </button>
</div>
</center>