<!-- META -->
<title>Abayro - The super duper Discord Bot!</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Abayro Team">
<meta name="title" content="Abayro - Super Discord Bot!">
<meta name="description" content="The super duper Abayro. A Discord bot for Anime, XP & levels, Music, Modeartion and much more!">
<meta name="keywords" content="Abayro,Discord bot,NourEldien,Discord bots,Abayro Discord,Abady,Discord Bot List Abayro,Abayro website,Nour,Bots,Discord bot dashboard,NourBot,NourEldien,Abady,NourBot Discord,NourBot Website,NourBot is a multi purpose Arabic & English discord bot.,Arabic discord bot, English discord bot, moderation bot, customizable-bot,nourbot dashboard,bot dashboard, Abairo">
<meta name="theme-color" content="#00a8ff">
<meta name="image" content="/img/abayro.png" />
<meta property="og:title" content="Abayro">
<meta property="og:description" content="The super duper Abayro. A Discord bot for Anime, XP & levels, Music, Modeartion and much more!">
<meta property="og:url" content="https://beta.abayro.xyz">
<meta property="og:type" content="website">
<meta property="og:image" content="/img/abayro.png" />
<link rel="icon" type="image/png" href="/img/icon.png">
<!-- END OF META -->

<!-- MATERIAL DESIGN BOOTSTRAP -->
<link rel="stylesheet" href="/css/abayro.css">
<link rel="stylesheet" href="/css/bootstrap-rtl.css">
<link rel="stylesheet" href="/css/mdb-rtl.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">